/* Global Styles */
@import url("https://fonts.googleapis.com/css?family=Raleway");


h1{
	font-family: "raleway"
}


h2, h3 {
  font-family: 'open sans', sans-serif;
}

p, li, a{
  font-family: 'open sans', sans-serif;
}

@media only screen and (max-width : 767px) {

h1 {
   font-size: 2em;
  }

h2,h3{
   font-size: 1.625em;
  }

p, li, a{
    font-size: 1.375em;
  }

}
/* Navbar */
a.nav-link {
  background-color: #fafafa;
  color: #707070;
}

a.nav-link:hover {
  background-color: #fafafa;
  color: red;
}

a.footer-link {
  background-color: #686963;
  color: #fafafa;
  
}

a.footer-link:hover {
  background-color: #686963;
  color: #fafafa;
}

/* Header */
.header{
	background: #E56353;
	width: 100%;
	height: 200px;
	text-align: center;
	color: white;

}

.header h1{
	font-size: 50px;
	text-align: center;
	padding-top: 40px; 
	
}

@media only screen and (max-width : 767px) {

.header{
    height: 200px;
    padding-top: 25px;
    background-position: center;
  }

.header h1 {
    font-size: 2em;
  }

.header p {
    padding: 1em;
  }

}
/* history */

 img {
 	width: 100%;
 }
 .history_text1{
	background: #707070;
    color: #ffffff;
    padding-top: 30px;
    padding: 40px;
}

.history_text2{
	background: #fafafa;
	color: #707070;
	padding-top: 30px;
    padding: 40px;
}

.img-history2{
    width: 10px;
    padding: 0px;
}

.img-history1{
    padding: 0px;
}

/* nosotros */
.nosotros{
	background: #E56353; 
	width: 100%;
	height: 150px;
	text-align: center;
	color: white;
}

.nosotros h1{
	font-size: 50px;
    text-align: center;
	padding-top: 40px; 

}

.nosotros2 img{
	width: 30%;
	height: 80%;
	margin-top: 150px;
	padding-right: 50px;
	margin: 50px;
}

.nosotros-text1{
    margin-top: 50px;
}


.nosotros-text2{
    margin-top: 50px;
}


/* blog*/
.blog{
	background: #E56353;
	width: 100%;
	height: 200px;
	text-align: center;
	color: white;
	padding-top: 10px;
	
}

.blog h1{
	font-size: 40px;
    text-align: center;
	padding-top: 40px; 
    margin-bottom: 30px;
}

.blog a{
  background-color: #fafafa;
  border-radius: 40px;
  color: #686963;
  padding: 10px;
  padding-left: 30px;
  padding-right: 30px;
  font-size: 15px;
 
  
}


/* Footer */
.footer{
	background: #686963;
    height: 200px;
    padding-top: 30px;
}

.img-footer img{
	width: 250px;
	height: 100px;
	
}

.iconos i{
	width: 50px;
	height: 30px;
	font-size: 50px;
	padding-right: 50px;

	

}

.nav-footer ul {
	float: right;
	padding-right:  10px;
	display: block;

}

.footer small {
  font-size: 0.1em;
}